.nav{
    color: aliceblue;
    display: flex;
    overflow-x: scroll;
    padding: 10px;
    padding-left: 40px;
    
  color: #11c769;
}.nav>h2:hover{
    transform: scale(1.2);
    opacity: 1!important;
 cursor: pointer;
}.nav>h2{
    cursor: pointer;
    font-weight: 500;
    margin: 0 20px;
   opacity: 0.6;
   transition: transform 500ms ease-in-out;
}
.nav::-webkit-scrollbar{
    display: none;
}